.jumbotron {
  background-image: url(Otto2.jpg)
}
.jumbotron {
  background-size: cover;
}
.jumbotron {
    padding-top: 4px;
    padding-bottom: 600px;
}
.img {
  margin-left: auto;
  margin-right: auto;
}
#bold {
  font-weight: bold;
  font-family: 'Ultra', serif;
}
#title {
  text-align: center;
}
#bismarck {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#name {
  font-size: 20px;
}
#bacon {
  font-size: 20px;
  text-align: center;
}
#spokes {
  font-family: 'Cookie', cursive;
  text-align: center;
}
